* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}

* :focus {
    outline: none;
    border: none;
}


a{
    color: unset;
}

/* header styles */

header{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
}

/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px 0px;
    width: 90%;
    margin:0px auto;
}

nav .nav-items{
    color: white;
    margin:0px 10px;
}
nav div.container{
    display: flex;
    }

nav div.nav-items:nth-child(1){
    font-size: 0.9rem;
    font-weight: 988;
}

/* Rest of the contents in background image */

header div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}

header h1{
    font-size: 2.5rem;
    color: #ffff;
    font-weight: 400;
}

/* Search box  */


header div.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
}

div.search-box div{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
    
}

header div.search-box div.select{
    color: #F57082;

}

header div.search-box i{
    margin: 10px;
}

header div.search-box div.input i{
    color: #828282b7;

}

header div.search-box div.seperator{
    height: 50%;
    background-color: black;
    width:2px;
}

header div.search-box div.input{
    flex-grow: 70;

}

header div.search-box div.input input{
    width: 100%;
    border: none;
    outline: none;
}

/* Section nearby*/

section.nearby{
    min-height: 30vh;
}

section.nearby div.container{
    width: 90%;
    margin: 0px auto;
    text-align: center;
    padding:40px 0px;
}
section.nearby div.container h3{
    font-size: 2.2rem;
    font-weight: none;
}

section.nearby div.container div.box{
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
section.nearby div.container div.box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* Section app */

section.app{
    min-height: 200px;
    background-color: #FEFBF6;
    }

section.app div.container{
    width:70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.app div.container img{
   max-width: 300px;
   display:block;
}

section.app div.container div.form{
    max-width: 450px;
    background-color: #F57082;
}

section.app div.container div.form h1{
    font-size: 3rem;
}
section.app div.container div.form small{ 
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
    color: black;
    margin: 20px 0px;
}

/* Radio button styles  */

/* ------------- */


section.app div.container div.input{
    width:100%;
    display: flex;
    align-items: center;
    height: 50px;
}

section.app div.container div.input input{
    flex-grow: 80;
    background-color: white;
    border: 1px solid #cfcdcf;
    font-size: 1.2rem;
    padding:10px;
    border-radius: 5px;
    height: 100%;
    margin-right: 10px;
}

section.app div.container div.input button{
    flex-grow:30;
    background-color:#ED5A6B;
    border: 1px solid #cfcdcf;
    font-size: 1.2rem;
    padding:10px;
    border-radius: 5px;
    height: 100%;
    margin-right: 10px;
}

section.app div.container div.download{
    margin:20px 0px;
    font-weight:100 ;
    color:gray;
}
section.app div.container div.download div{
    margin: 5px;
}
section.app div.container div.download div img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px;
}






/* Footer elements */

footer{
    background-color:grey;
}

footer div.first{
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0px;
}

footer div.first div.country-lang{
    display: flex;
    justify-content: space-around;
}

footer div.first div.country-lang div{
   padding: 0px 5px;
}

footer div.lists{
    display:flex;
    justify-content: space-between;
}
